html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}
.ul-header li a:hover{
  background-color: white;
  color: black;
}
.header{
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}
.nav-header{
  display: flex;
}
.ul-header{
  display: flex;
  gap:3rem;
}
a{
  color:white;
  text-decoration: none;
}

.titulo{
  font-size: 4.5rem;
}

.container-productos{
  display: flex;
  background-color: #eee;
}

.nuestros-productos-items{
  display: flex;
  gap: 3rem;
}
.nuestros-productos{
  text-align: center;
  margin-left: 5rem;
}
.producto{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.mangas-vendidos{
  text-align: center;
}
.lineas{
  background-color: #999;
  padding: .1rem;
}

.ul-mangas{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
}
.ul-mangas li{
  display: flex;
  gap: 5rem;
  margin-right: 10rem;
  align-items: center;
}
.ul-mangas li img{
  height: 8rem;
}
.blog{
  display: flex;
  flex-direction: column;
}
.blog h2{
  text-align: center;
}
.blog-item{
  display: flex;
  background-color:  lightcyan;
  align-items: center;
}
.blog-item img{
  width: 20%;
}
.blog-info{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.about{
  text-align: center;
  padding: 2rem;
  background-color: white;
}

.contactanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  background-color: white;
}
form{
  display: flex;
  flex-direction: column;
  width: 60rem;
  justify-content: center;
  gap: 2rem;
}
.button{
  background-color: black;
  color: #fff;
}
